.user-header img {
  margin-top: 4em;
  width: 200px;
  border-radius: 50%;
  -webkit-box-shadow: 7px 8px 16px -5px #000000;
  box-shadow: 7px 8px 16px -5px #000000;
}

.user-header {
  margin-top: 3em;
  margin-bottom: 1em;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #061030;
  background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre.png");
  color: #f5f5f5;
}

.username span {
  font-size: 1em;
  padding: 0.1em 0.1em;
  font-weight: 600;
}
.username h2 {
  margin-top: -0.5em;
  font-weight: 300;
}

@media only screen and (min-width: 1025px) {
  .user-header {
    width: 12em;
    height: 12em;
    margin: 8em 0 2em auto;
    border-radius: 50%;
  }

  .user-header img {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 200px;
  }
}
