.top-nav a {
  color: inherit;
  text-decoration: none;
  margin: 1.7em;
}

.top-nav a :hover {
  background-color: #ffc068;
  border-radius: 15px;
  color: #323645;
}

nav {
  font-family: "Bungee", cursive;
  display: flex;

  background-color: #323645;
  color: #f5f5f5;

  background-color: #061030;
  background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre.png");
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;

  width: 100%;
}

.top-nav span {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  transition: background-color 300ms;

  padding: 0.5em;

  border-radius: 15px;
}

.logo {
  font-size: 30px;
}
.new-tweet-button {
  font-size: 0.8em;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}
.new-tweet-button span {
  border: 2px solid #ffc068;
}

@media only screen and (max-width: 700px) {
  nav {
    position: fixed;
    display: flex;
    background-color: transparent;
    background-image: none;
  }
  .new-tweet-button {
    display: none;
  }
  .top-nav a {
    font-size: 1.5em;
    margin: 2em 0 -1em 0;
  }

  .top-nav span {
    padding: 0;
    width: 4em;
  }
  .top-nav .logo {
    margin-top: 3em;
    margin-left: 6em;
    font-size: 1.5em;
  }
  .fa-angle-double-down {
  }
}
