.fa-exclamation-triangle {
  color: #ff3333;
  margin: 1em;
  border: #ff3333 1px;
}

.warning-box h2 {
  margin: 0;
}

#warning-too-short {
  position: fixed;
 color: #171717;
  padding: 0.5em;
  border-radius: 1.5em;
  font-size: 0.7em;
  top: 24em;
  right: 7em;
}

#warning-too-long { 
  position: fixed;
  color: #171717;
  padding: 0.5em;
  border-radius: 1.5em;
  font-size: 0.7em;
  top: 25em;
  right: 7em;
  
}

@media only screen and (min-width: 1025px) {
  #warning-too-short {
    font-size: 0.7em;
    top: 187px;
    right: 646px;

  }
  
  #warning-too-long { 
    font-size: 0.7em;
    top: 187px;
    right: 646px;

  }
  
}
@media only screen and (max-width: 700px) {
  #warning-too-short {
    font-size: 0.7em;
    top: 44em;
    right: 2em;
  }
  #warning-too-long { 
    font-size: 0.7em;
    top: 44em;
    right: 2em;
  }
  
}

