.fa-exclamation-triangle {
  color: #ff3333;
  margin: 1em;
  border: #ff3333 1px;
}

.warning-box h2 {
  margin: 0;
}

#warning-too-short {
  background-color: hsl(0, 0%, 10%);
  padding: 0.5em;
  border-radius: 1.5em;
}

#warning-too-long {
  background-color: hsl(0, 0%, 10%);
  padding: 0.5em;
  border-radius: 1.5em;
}
