.fa-exclamation-triangle {
  color: #ff3333;
  margin: 0.4em;
  border: #ff3333 1px;
}

.warning-box {
  background-color: black;
  padding: 0.5em;
  border-radius: 1.5em;
}

.warning-box h2 {
  margin: 0;
}

#warning-too-short {
  display: none;
}

#warning-too-long {
}
